<h1>Categorize</h1>

<%= image_tag @kitten.image %>

<%= form_for [@kitten, @kitten_category] do |f| %>
<% if @kitten_category.errors.any? %>
<ul>
  <% @kitten_category.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: true}, {class: "form-control"} %>

<%= f.submit 'Add Category' %>
<% end %>
